{% extends 'base.html' %}

{% block content %}
    {#  Page header #}
    <div class="container-fluid pb-2 mt-4 mb-2">
        <h2>{% block title %} {{ certification.certification_name }} {% endblock %}</h2>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

    {#  Enable modal window error handling #}
    <script>
        $(document).ready(function(){
            document.getElementById('cycle_number').innerHTML  = document.getElementById('cycle_length').value;
            document.getElementById('year_number').innerHTML  = document.getElementById('requirement_year').value;
            document.getElementById('year_suggested').innerHTML  = document.getElementById('suggested_year').value;
            document.getElementById('full_number').innerHTML  = document.getElementById('requirement_full').value;

            {%  if page_mode == "modal"  %}
                $('#myModal').modal('show');
            {%  endif %}
        });
    </script>

    {#  Page content #}
    <div class="container-fluid pb-3 mt-2 mb-2">

        {#  Show detailed information regarding the selected certification #}
        <div class="card mb-3" style="max-width: 720px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ url_for('do_display', username=folder_name, filename=certification.certification_img) if (certification.certification_img!='NoImage') else '/static/not_found.jpg' }}" class="img-fluid rounded-start" alt="Certification Image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ certification.certification_url }}" target="_blank" rel="noopener noreferrer">{{ certification.certification_url }}</a></h5>
                        <h6 class="card-subtitle mb-2 text-muted">Issued by <a href="{{ url_for('show_organization', organization_name=organization.organization_name)}}">{{ organization.organization_name }}</a></h6>
                        <h6 class="card-subtitle mb-2 text-muted">Entry created by <a href="{{ url_for('show_student', student_name=student.student_name)}}">{{ student.student_name }}</a></h6>
                        <p class="card-text">
                            {{ certification.certification_desc }}
                            <div class="progress mt-4 mb-4">
                                <div class="progress-bar" role="progressbar" style="width: {{ certification.cycle_length / 3 * 100}}%" aria-valuenow="{{ certification.cycle_length / 3 * 100}}" aria-valuemin="0" aria-valuemax="100">{{ certification.cycle_length }} year cycle</div>
                            </div>
                            <div class="progress mt-4 mb-4">
                                <div class="progress-bar" role="progressbar" style="width: {{ certification.requirement_year / 50 * 100}}%" aria-valuenow="{{ certification.requirement_year / 50 * 100}}" aria-valuemin="0" aria-valuemax="100">{{ certification.requirement_year }} CPE per year required</div>
                            </div>
                            <div class="progress mt-4 mb-4">
                                <div class="progress-bar" role="progressbar" style="width: {{ certification.suggested_year / 50 * 100}}%" aria-valuenow="{{ certification.suggested_year / 50 * 100}}" aria-valuemin="0" aria-valuemax="100">{{ certification.suggested_year }} CPE per year suggested</div>
                            </div>
                            <div class="progress mt-4 mb-4">
                                <div class="progress-bar" role="progressbar" style="width: {{ certification.requirement_full / 150 * 100}}%" aria-valuenow="{{ certification.requirement_full / 150 * 100}}" aria-valuemin="0" aria-valuemax="100">{{ certification.requirement_full }} CPE per cycle required</div>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        {% if current_user.student_role == "admin" %}
            {# Modal dialog window - delete currently selected certification #}
            <div id="myModal_del" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Delete Certification</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{{ url_for('delete_certification', certification_name=certification.certification_name) }}" id="form_deletion">
                                Are you sure?
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger mt-4 mb-4 btn-space" form="form_deletion">Confirm</button>
                            <button type="button" class="btn btn-secondary mt-4 mb-4" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

            {# Modal dialog window - edit currently selected certification #}
            <div id="myModal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Edit Certification</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{{ url_for('show_certification_p', certification_name=certification.certification_name) }}" method="POST" id="form_edit">
                                {{ certification_form.csrf_token }}
                                <div class="form-group mt-2 mb-2">
                                    <label for="{{ certification_form.name.name }}">{{ certification_form.name.label }}</label>
                                    {{ certification_form.name(size=20, class="form-control", onkeypress="return event.charCode != 32", readonly=true) }}
                                </div>
                                {% for error in certification_form.name.errors %}
                                    <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                                {% endfor %}
                                <div class="form-group mt-2 mb-2">
                                    <label for="{{ certification_form.url.name }}">{{ certification_form.url.label }}</label>
                                    {{ certification_form.url(size=20, class="form-control", onkeypress="return event.charCode != 32") }}
                                </div>
                                {% for error in certification_form.url.errors %}
                                    <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                                {% endfor %}
                                <div class="form-group mt-2 mb-2">
                                    <label for="{{ certification_form.description.name }}">{{ certification_form.description.label }}</label>
                                    {{ certification_form.description(size=40, class="form-control") }}
                                </div>
                                {% for error in certification_form.description.errors %}
                                    <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                                {% endfor %}
                                <div class="form-group mt-2 mb-2">
                                    <label for="{{ certification_form.image.name }}">{{ certification_form.image.label }}</label>
                                    {{ certification_form.image(class="form-select") }}
                                </div>
                                {% for error in certification_form.image.errors %}
                                    <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                                {% endfor %}
                                <div class="form-group mt-2 mb-2">
                                    <label for="{{ certification_form.organization.name }}">{{ certification_form.organization.label }}</label>
                                    {{ certification_form.organization(class="form-select") }}
                                </div>
                               <div class="form-group mt-2 mb-2">
                                    <label for="{{ certification_form.cycle_length.name }}">{{ certification_form.cycle_length.label }}</label>: <label id="cycle_number">x</label> CPE
                                    {{ certification_form.cycle_length(class="form-control", oninput="document.getElementById('cycle_number').innerHTML  = document.getElementById('cycle_length').value ") }}
                                </div>
                                {% for error in certification_form.cycle_length.errors %}
                                    <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                                {% endfor %}
                               <div class="form-group mt-2 mb-2">
                                    <label for="{{ certification_form.requirement_year.name }}">{{ certification_form.requirement_year.label }}</label>: <label id="year_number">x</label> CPE
                                    {{ certification_form.requirement_year(class="form-control", step="5", oninput="document.getElementById('year_number').innerHTML  = document.getElementById('requirement_year').value ") }}
                                </div>
                                {% for error in certification_form.requirement_year.errors %}
                                    <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                               {% endfor %}
                                <div class="form-group mt-2 mb-2">
                                    <label for="{{ certification_form.suggested_year.name }}">{{ certification_form.suggested_year.label }}</label>: <label id="year_suggested">x</label> CPE
                                    {{ certification_form.suggested_year(class="form-control", step="5", oninput="document.getElementById('year_suggested').innerHTML  = document.getElementById('suggested_year').value ") }}
                                </div>
                                {% for error in certification_form.suggested_year.errors %}
                                    <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                               {% endfor %}
                               <div class="form-group mt-2 mb-2">
                                    <label for="{{ certification_form.requirement_full.name }}">{{ certification_form.requirement_full.label }}</label>: <label id="full_number">x</label> CPE
                                    {{ certification_form.requirement_full(class="form-control", step="5", oninput="document.getElementById('full_number').innerHTML  = document.getElementById('requirement_full').value ") }}
                                </div>
                                {% for error in certification_form.requirement_full.errors %}
                                    <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                                {% endfor %}
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary mt-4 mb-4 btn-space" form="form_edit">Update</button>
                            <button type="button" class="btn btn-secondary mt-4 mb-4" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {#  Display action buttons regarding the selected certification #}
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

            {#  Text-based links #}
            <div class="btn-group me-2" role="group" aria-label="Button group with nested dropdown">
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle mt-4 mb-4" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-activity"></i> Actions
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <li><a class="dropdown-item" href="{{ url_for('show_certifications') }}">All Certifications</a></li>
                        {% if current_user.student_role == "admin" %}
                            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#myModal">Edit Certification</a></li>
                            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#myModal_del">Delete Certification</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            {#  Same links implemented using small buttons #}
            <div class="btn-group me-2" role="group" aria-label="Second group">
                <a href="{{ url_for('show_certifications') }}" data-toggle="tooltip" title="All Certifications" class="btn btn-primary mt-4 mb-4"><i class="bi bi-list-ul"></i></a>
            </div>
            <div class="btn-group me-2" role="group" aria-label="Third group">
                {% if current_user.student_role == "admin" %}
                    <a href="#" class="btn btn-primary mt-4 mb-4" data-toggle="tooltip" title="Edit Certification" data-bs-toggle="modal" data-bs-target="#myModal"><i class="bi bi-pencil"></i></a>
                {% endif %}
            </div>
            <div class="btn-group me-2" role="group" aria-label="Fourth group">
                {% if current_user.student_role == "admin" %}
                    <a href="#" class="btn btn-danger mt-4 mb-4" data-toggle="tooltip" title="Delete Certification" data-bs-toggle="modal" data-bs-target="#myModal_del"><i class="bi bi-trash"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
