{% extends 'base.html' %}

{% block content %}
    {#  Page header #}
    <div class="container-fluid pb-2 mt-4 mb-2">
        <h2>{% block title %} All Certifications {% endblock %}</h2>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

    {#  Enable modal window error handling #}
    <script>
        $(document).ready(function(){
            document.getElementById('cycle_number').innerHTML  = document.getElementById('cycle_length').value;
            document.getElementById('year_number').innerHTML  = document.getElementById('requirement_year').value;
            document.getElementById('year_suggested').innerHTML  = document.getElementById('suggested_year').value;
            document.getElementById('full_number').innerHTML  = document.getElementById('requirement_full').value;

            {%  if page_mode == "modal"  %}
                $('#myModal').modal('show');
            {%  endif %}
        });
    </script>

    {#  Page content #}
    <div class="container-fluid pb-3 mt-2 mb-2">

        {#  Show list of all certifications #}
        {% if certifications.count() == 0 %}
            No entries found.<br>
        {% else %}
            <div class="list-group">
                {% for certification in certifications %}
                    <a href="{{ url_for('show_certification', certification_name=certification.certification_name)}}" class="list-group-item">{{ certification.certification_name }}</a>
                {% endfor %}
            </div>
        {% endif %}

        {% if current_user.student_role == "admin" %}
            {# Modal dialog window - create a new certification #}
            <div id="myModal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Create Certification</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                           <form action="{{ url_for('show_certifications_p') }}" method="POST" id="form_new">
                                {{ certification_form.csrf_token }}
                                <div class="form-group mt-2 mb-2">
                                    <label for="{{ certification_form.name.name }}">{{ certification_form.name.label }}</label>
                                    {{ certification_form.name(size=20, class="form-control", onkeypress="return event.charCode != 32") }}
                                </div>
                               {% for error in certification_form.name.errors %}
                                    <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                               {% endfor %}
                               <div class="form-group mt-2 mb-2">
                                    <label for="{{ certification_form.url.name }}">{{ certification_form.url.label }}</label>
                                    {{ certification_form.url(size=20, class="form-control", onkeypress="return event.charCode != 32") }}
                                </div>
                                {% for error in certification_form.url.errors %}
                                    <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                                {% endfor %}
                                <div class="form-group mt-2 mb-2">
                                    <label for="{{ certification_form.description.name }}">{{ certification_form.description.label }}</label>
                                    {{ certification_form.description(size=40, class="form-control") }}
                                </div>
                                {% for error in certification_form.description.errors %}
                                    <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                                {% endfor %}
                                <div class="form-group mt-2 mb-2">
                                    <label for="{{ certification_form.image.name }}">{{ certification_form.image.label }}</label>
                                    {{ certification_form.image(class="form-select") }}
                                </div>
                                {% for error in certification_form.image.errors %}
                                    <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                                {% endfor %}
                               <div class="form-group mt-2 mb-2">
                                    <label for="{{ certification_form.organization.name }}">{{ certification_form.organization.label }}</label>
                                    {{ certification_form.organization(class="form-select") }}
                                </div>
                               <div class="form-group mt-2 mb-2">
                                    <label for="{{ certification_form.cycle_length.name }}">{{ certification_form.cycle_length.label }}</label>: <label id="cycle_number">x</label> CPE
                                    {{ certification_form.cycle_length(class="form-control", oninput="document.getElementById('cycle_number').innerHTML  = document.getElementById('cycle_length').value ") }}
                                </div>
                                {% for error in certification_form.cycle_length.errors %}
                                    <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                                {% endfor %}
                               <div class="form-group mt-2 mb-2">
                                    <label for="{{ certification_form.requirement_year.name }}">{{ certification_form.requirement_year.label }}</label>: <label id="year_number">x</label> CPE
                                    {{ certification_form.requirement_year(class="form-control", step="10", oninput="document.getElementById('year_number').innerHTML  = document.getElementById('requirement_year').value ") }}
                                </div>
                                {% for error in certification_form.requirement_year.errors %}
                                    <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                               {% endfor %}
                               <div class="form-group mt-2 mb-2">
                                    <label for="{{ certification_form.suggested_year.name }}">{{ certification_form.suggested_year.label }}</label>: <label id="year_suggested">x</label> CPE
                                    {{ certification_form.suggested_year(class="form-control", step="10", oninput="document.getElementById('year_suggested').innerHTML  = document.getElementById('suggested_year').value ") }}
                                </div>
                                {% for error in certification_form.suggested_year.errors %}
                                    <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                               {% endfor %}
                               <div class="form-group mt-2 mb-2">
                                    <label for="{{ certification_form.requirement_full.name }}">{{ certification_form.requirement_full.label }}</label>: <label id="full_number">x</label> CPE
                                    {{ certification_form.requirement_full(class="form-control", step="10", oninput="document.getElementById('full_number').innerHTML  = document.getElementById('requirement_full').value ") }}
                                </div>
                                {% for error in certification_form.requirement_full.errors %}
                                    <div class="alert alert-warning"><strong>Warning!</strong> {{ error }}</div>
                                {% endfor %}
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary mt-4 mb-4 btn-space" form="form_new">Create</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

            {#  Display action buttons regarding the selected item #}
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

                {#  Text-based links #}
                <div class="btn-group me-2" role="group" aria-label="Button group with nested dropdown">
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle mt-4 mb-4" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-activity"></i> Actions
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#myModal">Create Certification</a></li>
                        </ul>
                    </div>
                </div>

                {#  Same links implemented using small buttons #}
                <div class="btn-group me-2" role="group" aria-label="Second group">
                    <a href="#" class="btn btn-primary mt-4 mb-4" data-toggle="tooltip" title="Create Certification" data-bs-toggle="modal" data-bs-target="#myModal"><i class="bi bi-plus-square"></i></a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
