{% extends 'base.html' %}

{% block content %}
    {#  Page header #}
    <div class="container-fluid pb-2 mt-4 mb-2">
        <h2>{% block title %} Welcome to {% endblock %}</h2>
    </div>

    {#  Page content #}
    <div class="container-fluid pb-3 mt-2 mb-2">
        <img src="/static/cpeman_logo.png" class="img-fluid rounded-start w-50" alt="CPE-Manager Logo"><br>

        <hr class="little mt-4 mb-4">

        <h4 class="mb-3">Important Notice</h4>
        <b>This project has been cancelled due to adverse/blocking attitude of most certification providers.</b><br>
        <b>This website and infrastructure will be shut down on 20.07.23</b> <br><br>

        <h4 class="mb-3">Alpha state. Work in progress. The current version allows you to...</h4>
        ☑ Manage different users and roles<br>
        ☑ Have your own S3 storage are to manage image attachments<br>
        ☑ Create and manage certification organizations (for admin)<br>
        ☑ Create and manage certifications (for admin)<br>
        ☑ Create and manage certifications cycles<br>
        ☑ Create and manage CPE records<br>
        ☑ Link CPE entries to certification cycles<br>
        ☑ Attach evidences like PDFs to CPE records<br>
        ☐ Create reports of current and past cycles<br>
        ☐ Get notifications and alarms regarding open CPEs<br>
        ☐ Have visualizations of current and past cycles<br>
        ☐ and more...<br>
    </div>
{% endblock %}
