{% extends 'base.html' %}

{% block content %}
    {#  Page header #}
    <div class="container-fluid pb-2 mt-4 mb-2">
        <h2>{% block title %} My CPE Records {% endblock %}</h2>
    </div>

    {#  Page content #}
    <div class="container-fluid pb-3 mt-2 mb-2">

        {#  Show list of all CPE Records #}
        {% if records.count() == 0 %}
            No entries found.<br>
        {% else %}
            <div class="list-group">
                {% for record in records %}
                    <a href="{{ url_for('show_record', record_id=record.record_id)}}" class="list-group-item">CPE Record {{ record.record_name }}</a>
                {% endfor %}
            </div>
        {% endif %}

        {% if current_user.student_role in ["admin","student"] %}
            {#  Display action buttons regarding the selected item #}
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

                {#  Text-based links #}
                <div class="btn-group me-2" role="group" aria-label="Button group with nested dropdown">
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle mt-4 mb-4" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-activity"></i> Actions
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <li><a class="dropdown-item" href="{{ url_for('edit_record', record_id=0)}}">Create CPE Record</a></li>
                        </ul>
                    </div>
                </div>

                {#  Same links implemented using small buttons #}
                <div class="btn-group me-2" role="group" aria-label="Second group">
                    <a href="{{ url_for('edit_record', record_id=0)}}" class="btn btn-primary mt-4 mb-4" data-toggle="tooltip" title="Create CPE Record"><i class="bi bi-plus-square"></i></a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
